.goBack {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(20, 20, 20);
    color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 12px;
    margin: 12px;
    
    &:hover {
        color: rgb(70, 70, 255);
    }
}

.infoBox {
    display: flex;
    gap: 18px;
    margin: 0 12px 12px 12px;
}

.img {
    border-radius: 12px;
}

.title {
    font-size: 32px;
    margin-bottom: 12px;
}

.dataTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.overview {
    font-size: 16px;
    margin-bottom: 12px;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0 4px;
    margin-bottom: 12px;
}

.ratingSpan {
    font-size: 18px;
    font-weight: bold;
}

.navList {
    width: 100%;
    background-color: rgb(20, 20, 20);
    padding: 12px;
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.link {
    text-decoration: none;
    color: rgb(245, 245, 245);

    &:hover {
        color: rgb(70, 70, 255);
    }
}

.active {
    color: rgb(70, 70, 255);
}